*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  @font-face {
    font-family: 'ubuntu';
    src: url('./fonts/Ubuntu-Regular.ttf') format('truetype')
  }
  *{
    font-family: 'ubuntu';
  }
  

  html { height: 100%;} /*This makes gradien have no bands*/

  body{
    background-image: url(images/overlay.png),
    linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-attachment:fixed;/*repeat new gradient on scrolling down*/  
    height: 100%; 
  }

  header{    
    color: white;    
    min-height: 5vw;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    
    padding-top: 10px; 
    border: 2px solid rgba(0,0,0,0);  
    display: flex;
  }

  
  #headerTitle{
    /* margin-left: 40%; */
    width: 90%;
  }

  .todoBody{
    min-height: 100%;
    display: flex;
    position: relative;
  }

  nav{
    max-width: 200px;
    background-color: rgba(55, 61, 73, 0.975);
    color: azure;
    font-size: 40px;
    text-align: center;
    border-radius: 20px;
    display:none; 
    position: absolute; 
    
  }
  .menuAppear{
    display: block;
  }
  
  .navButtons{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    
  }
  #projectSubheading{
    margin-top: 80px;
    
  }

  nav>div>button{
    background-color: rgba(55, 61, 73, 0.975);
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
    border: 1px solid rgba(0,0,0,0);
    max-width: 95%;
  
  }

  nav>div>button:hover{
    background-color: rgba(70, 78, 95, 0.975);
    box-shadow: 2px 1px 1px #e37682; ;
    border-radius: 10px;
  }

  #projectInput{
    width: 150px;
  } 

  #projInput{
    width: 100%;
    font-size: 24px;
  }
  #projInpBtn{
    width: 95%;
    height:50px
  }

  .todoSection{width: 95%;
  background-color: rgba(0,0,0,0);}


  .todoStyle{
    margin: 2%;
    background-color: white;
    width: 100%;
    min-height:80px;
    display:flex;
    flex-wrap: wrap;
    border-radius: 30px;
    font-size: 32px;
  }



  .titleStyling{
    width:60%;
    padding-left: 30px;
    padding-top: 20px;
    text-overflow: ellipsis;
  }

  .dateStyling{
    width:15%;
    padding-top: 20px;
    min-width: 150px;
    text-align: center;
  }

  .modifyContainer{
    display: flex;
    align-items: center;
  }


  .deleteStyling,.checkStyling,.editStyling,.descriptStyling,.burgerStyling{
    min-width:70px;
    min-height: 80px;
    background-color: rgba(0,0,0,0);
    border: 3px solid rgba(0,0,0,0);

  }

  .checkStyling:hover{
    color: rgb(95, 133, 39);
  }

  .deleteStyling:hover{
    color: #8d0010;
  }

  .editStyling:hover{
    color:blue;
  }

  .descriptStyling:hover{
    color: rgb(166, 23, 169);
  }

  .redAlert{
    background-color: #fe9ca7;
  }
  .yellowAlert{
    background-color: rgb(246, 246, 193);
  }
  .greenAlert{
    background: rgb(185, 255, 185);
  }

  .show{
    display: block;
    background-color: #5f4d93;
    width:100%;
    padding-left: 7%;
    font-size: 28px;
    color: aliceblue;
    border-radius: 30px;
  }
  .hide{
    display: none;
  }

  #addTaskDiv{
    display: flex;
    justify-content: center;
  }

  #addTaskButton{
    width: 300px;
    height: 100px;
    border-radius: 20px;
    background-color: rgba(55, 61, 73, 0.975);
    color: white;
    font-size: 30px;

  }

  #addTaskButton:hover{
    background-color: rgba(0, 0, 0, 0.975);

  }

  form{
    background-color: azure;
    
    width: 400px;
    min-width: 200px;
    min-height:80px;
    padding: 30px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: #c0b9d4;
  }
  form>input{
    width: 80%;
    word-wrap: normal;
    overflow: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  form>textarea{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  form>button{
    margin-top: 5px;
  }

  #formDivision{
    max-width:100%;
    min-width: 350px;
    display: flex;
    justify-content: center;
    margin: 2%;
    max-height:800px;
    /* margin-left: 10%;
    margin-right: 10%; */
  }

  .completedAlert{
    background-color: rgb(200, 197, 197);
  }